@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background: #ededed;
  font-family: var(--font-inter);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.poppins {
  font-family: var(--font-poppins);
}
